@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --background: oklch(1 0 0);
  --border: oklch(0.922 0 0);
  --primary: oklch(0.7 0.19 48);
  --secondary: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
}

@layer base {
  body {
    @apply bg-background;
  }
}
